# Editors
*~
*.sw[op]
.idea/

# Python
*.py[cod]
__pycache__/

# Node
node_modules
npm-debug.log

# Misc.
.DS_Store
docs/_book
dist/

{{#unit}}
test/unit/coverage
{{/unit}}
{{#e2e}}
test/e2e/reports
selenium-debug.log
{{/e2e}}
